

body {
    width: 600px;
    height: auto;
    margin: auto;
    background-color: #191c1f;
    color: #afbccc; 
    font-family:monospace;
}
a:link{
    color:#bcaeda;
    text-decoration:none
}
a:visited{
    color:#8d849f
}
