{% extends "menu.html" %}


{%block body %}

<head>
    <title>Essays</title>
</head>

<p>
TECH: Serious Content 
<br>
<br>
<a href="{% url '/essays/StandardizeTechnology.html' %}">Standardize Technology</a>
<br>
<a href="{% url '/essays/ProductiveUseOfDeveloperTime.html' %}">Productive Use Of Developer Time</a>
<br>
<br>
<br>
<br>
MISC: Not Serious Content
<br>
<br>
<a href="{% url '/essays/MythologizeYourLife.html' %}">Mythologize Your Life</a>
<br>
<a href="{% url '/essays/ThoughtsOnArt.html' %}">Thoughts On Art</a>
<br>
<a href="{% url '/essays/TravelNotes.html' %}">Travel_Notes</a>
<br>
<a href="{% url '/essays/TheLastPsychiatristBreakdown.html' %}">TheLastPsychiatrist Breakdown</a>
<br>
<a href="{% url '/essays/Tweets.html' %}">Tweet Archive</a>
<br>
</p>

{% endblock %}
