{% extends "menu.html" %}


{%block body %}

<head>
    <title>Essays</title>
</head>

<p> 
MISC (Mostly Garbage):
<br>
<a href="{% url '/essays/MythologizeYourLife.html' %}">MythologizeYourLife</a>
<br>
<a href="{% url '/essays/ThoughtsOnArt.html' %}">ThoughtsOnArt</a>
<br>
<a href="{% url '/essays/TravelNotes.html' %}">Travel/Life_Notes</a>
<br>
<a href="{% url '/essays/TheLastPsychiatristBreakdown.html' %}">TheLastPsychiatristBreakdown</a>
<br>
<br>
TECH:
<br>
<a href="{% url '/essays/StandardizeTechnology.html' %}">StandardizeTechnology</a>

</p>

{% endblock %}
