<link rel="stylesheet" type="text/css" href="menu.css" media="screen" />


<p style="text-align: center;"><br>The Arcane Library</p>
<p style="text-align: center;">____________________________________________________________________________________</p>
<p style="text-align: center;">
                                <a href="{% url '/index.html' %}">About</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
				<a href="{% url '/essays.html' %}">Essays</a>
				&nbsp; &nbsp;&nbsp; 
                                <a href="{% url '/blog.html' %}">Blog</a>
				&nbsp; &nbsp;&nbsp; 
                                <a href="{% url '/projects.html' %}">Projects</a>
 				&nbsp; &nbsp;&nbsp;
                               <a href="{% url '/contact.html' %}">Contact</a>
				</p>
<p style="text-align: center;">######################################################################################</p>

{% block body %}
{% endblock %}

