<link rel="stylesheet" type="text/css" href="../static/menu.css" media="screen" />


<p style="text-align: center;"><br>The Arcane Library</p>
<p style="text-align: center;">######################################################################################</p>
<p style="text-align: center;">
                                <a href="{% url '/index.html' %}">about</a>
				&nbsp;&nbsp;&nbsp; 
				<a href="{% url '/essays.html' %}">essays</a>
				&nbsp;&nbsp;&nbsp; 
                                <a href="{% url '/projects.html' %}">projects</a>
 				&nbsp;&nbsp;&nbsp;
                                <a href="{% url '/resources.html' %}">resources</a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{% url '/contact.html' %}">contact</a>
				</p>
<p style="text-align: center;">######################################################################################</p>

{% block body %}
{% endblock %}

